	</div>
	<div class="gb-20 sidebar">
		{SETSTYLE=block-sidebar}
		{MENUAREA=31}
	</div>

	<div class="gb-full">
		{SETSTYLE=block-footer}
		<div class="gb-full">
				<div class="gb-33">{MENUAREA=51}</div>
				<div class="gb-33">{MENUAREA=52}</div>
				<div class="gb-33">{MENUAREA=53}</div>
		</div>
	</div>

	<!-- START BLOCK : footer -->
	<div class="gb-full footer">
		<hr />
		{SITEDISCLAIMER}
		<div class="copyright">Skin by <a
		href="http://artphilia.de">Artphilia Designs</a>. All
		rights reserved.</div>
	</div>

	</div> <!-- closing content grid -->   			
	<!-- END BLOCK : footer -->



