.form-control.tbox.login  {
 
    background-color: #e8e8e8;
    border: 1px solid #cbcbcb;
    font-family: 'Raleway', Tahoma, sans-serif;
    font-size: 10pt;
    color: #5c5c5c;
 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* PM link in header navigation fix */
 .pm-nav.nav-link {
    display: inline;
    color: #efa008;
    padding: 1px;
}
 