<!-- START BLOCK : header -->
<div class="grid-wrapper container">
	<div class="gb-full">
		<div id="header">
			<div class="gb-50">
				<div align="left"><span class="fa fa-power-off"></span> {EFICTION_LINK=adminarea}  {EFICTION_LINK=login} {EFICTION_LINK=logout}</div><div id="login">{EFICTION_BLOCK_CONTENT: key=login}</div>
			</div>
			<div class="gb-50">
				<div align="right">{search_content}</div>
			</div>
			<div id="sitename">{SITENAME}</div>
			<div id="slogan">{SITETAG}</div>
			<div id="menu">{EFICTION_MENU_CONTENT}</div>
		</div>
	</div>
	<div class="gb-80 content">
	<!-- END BLOCK : header -->
 